.banana{
    height: 40px;
    padding-top:0px ;
    position: relative;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    height: 100%;
    width: 100%;
}


.containerThree{
    background-image: url('https://res.cloudinary.com/dg9itycrz/image/upload/v1716619624/assets/bg_eqdcnd.png');
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    height: 100vh;
    width: 100vw;
}
.monkeyThree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.talkingMonkeyThree{
    height: 400px;
    width: auto;
    margin-top: 15px;

}
.msgContainerThree{
    position: relative;
    left: 50%;
    top:7%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.msgImgThree{
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: auto;
}
.wlcmMsgThree{
    color: #11AEC6    ;
    position: absolute;
    left:3%;
    top:1%;
    font-size: 25px;
    padding-top: 0%;
    margin-top:1%;
}


.btnPicThree {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    
  }
  
  .btnPicThree .btnThree { 
    height: 80px; 
    display: block;
  }

  .btnContainerThree{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
  }
  

  .backBtnContainerThree{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
  }
  .backBtnContainerThree .backBtnThree{ 
        height: 80px; 
        display: block;
        margin-left: 15px;
        /* margin-top: 25px; */

  }
  .backBtnThree{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  .backImgThree{
    height: 100px;
  }



/* progress bar */

.progress-container {
  width: 70%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
}

.progress-bar {
  height: 30px;
  width: 0;
  background-color: #76c7c0;
  transition: width 0.5s ease;
  border-radius: 25px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.pc{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.whiteBanana{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 80px;
  margin-bottom: 20px;
  position: absolute;
  left:75%;
}